@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}
@*<div class="about-section">
    <h1>About Us</h1>
    <p>Bindas Hotel we provide low badget rooms so that poor people can stay in our hotel</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/MyPhoto.jpg" alt="Appu's Image'" width="80px" height="80px">
            <div class="container">
                <h2>Appu kumar</h2>
                <p class="title">CEO & Founder</p>
                <p>I am Appu kumar, I am java/cpp/C#/Python/C developer</p>
                <p>Email::appu6688kumar@gmail.com</p>
                <p>Mobile Number:: 9354259450</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/image8.jpg" alt="tendulakar's image'" width="80px" height="80px">
            <div class="container">
                <h2>SachinTendulkar</h2>
                <p class="title">Art Director</p>
                <p>My name is Sachin Tendulkar, I have designed the architect of this hotel</p>
                <p>Email::sachin@gmail.com</p>
                <p>Mobile Number::9354259456</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/image8.jpg" alt="rohit's image'" width="80px" height="80px">
            <div class="container">
                <h2>Rohit Sharma</h2>
                <p class="title">Designer</p>
                <p>My self Rohit sharma, I have designed entire hotel </p>
                <p>Email::rohit@gmail.com</p>
                <p>Mobile Number::9354259450</p>
            </div>
        </div>
    </div>
</div>*@


<br />
<br />
<br />
<br />


<div class="about-section">
    <h1>About Us </h1>
    <p>This is My hotel page</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Rahul Maurya</h2>
                <p class="title">CEO & Founder</p>
                <p>Yes I'm entrepreneur</p>
                <p>rahulmaurya1036@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Maurya Hotel</h2>
                <p class="title"></p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>