@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}



<br />
<br />
<br />
<br />


<div class="about-section">
    <h1>About Us </h1>
    <p style ="color: white"> This is My hotel page</p>
    <p style="color: white"> 5 Star hotel.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Rahul Maurya</h2>
                <p class="title">CEO & Founder</p>
                <p>Yes I'm entrepreneur</p>
                <p>rahulmaurya1036@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Maurya Hotel</h2>
                <p class="title"></p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>hotel.maurya@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/Images/gal1.jpeg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>