


<div class="container-fluid mx-4">
    <br />
    <br />
    <br />
    <br />
   

    @*<div style="margin-left: 600px">
    <div class="colored-box "> <h1 style="font-family:Arial; color:white"> Gallery </h1> </div>
    </div>*@

    <br />

    <div class="box-gallery">

        <h1 style="font-family:Arial; position:center; text-align:center"> Gallery </h1>
    </div>

    <br />
    <div class="row justify-content-md-center">


        <br />

        @* <div class="col-md-auto mx-2">
        <img src="~/Images/img-1.jpeg" alt="Image 1" style="max-height:fit-content; max-width:600px; border:solid black" />
        <hr />
        </div>
        *@
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal1.jpeg" alt="Image 2" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>

        <div class="col-md-auto mx-2">
            <img src="~/Images/gal2.jpeg" alt="Image 3" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal3.jpeg" alt="Image 4" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal4.jpeg" alt="Image 5" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal5.jpeg" alt="Image 6" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal7.jpeg" alt="Image 7" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal8.jpeg" alt="Image 8" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal9.jpeg" alt="Image 9" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/gal10.jpeg" alt="Image 10" style="max-height:fit-content; max-width:600px; border:solid black" />
            <hr />
        </div>
    </div>

</div>

