@*@model SignUpModel
@{
    ViewBag.Title = "Sign Up";
}

<br />
<br />
<br />
<br />
<br />
<br />

<div class="container" style="background-color:black; border: 3px solid white; border-radius:15px; ">
    <span asp-validation-summery="All"></span>
    <div class="title" style="margin-bottom:5px"><h1 style="color:white"> Guest Page </h1></div>
    <div class="content">
        <form asp-action="SignUp" asp-controller="Account" method="post">
            <div class="user-details">
                <div>
                    <span class="details"><div style="color:white">Full Name</div></span>
                    <input style="border-radius:10px" type="text"  asp-for="FullName">
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div>
							<span class="details"><div style="color:white">Mobile Number</div></span>
                    <input style="border-radius:10px" type="text"  asp-for="MobileNumber">
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
                <div
							<span class="details"><div style="color:white">Email Address</div></span>
                    <input style="border-radius:10px"type="text"  asp-for="EmailAddress">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
        
        
                <div>
							<span><div style="color:white">Aadhar Number</div></span>
                    <input style="border-radius:10px" type="text"  asp-for="IdProof">
                    <span asp-validation-for="IdProof" class="text-danger"></span>
                </div>
            </div>
            <div>
                <input style="border-radius:10px" type="radio" value="Male" name="gender" id="dot-1" asp-for="Gender" hidden>
                <input style="border-radius:10px" type="radio" value="Female" name="gender" id="dot-2" asp-for="Gender" hidden>
                <input style="border-radius:10px" type="radio" value="Prefer not to say" name="gender" id="dot-3" asp-for="Gender" hidden>
                <span class="gender-title font-weight-bold">  <div style="color:white"> Gender </div>  </span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
								<span class="gender"><div style="color:white">Male</div></span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
								<span class="gender"><div style="color:white">Female</div></span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
								<span class="gender"><div style="color:white">Other</div></span>
                    </label>
                </div>
            </div>
            <span asp-validation-for="Gender"></span>


            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>


    </div>
</div>*@

<br />
<br />
<br />
<br />



<div class="container my-5 main_box" style="width:400px; height:450px; border:dotted black 1px; border-radius:15px; background-color:black;">
    <div class="container" style="display:flex; justify-content:center; font-size:28px;margin-top:17px"> <h1 style="color:white"> Guest Page </h1> </div>
    @*@using (Html.BeginForm("UserLogin", "Account", method: FormMethod.Post))*@
    {
        <div class="container my-3">
            
        <div>
            <span class="details"><div style="color:white">Full Name</div></span>
            <input style="border-radius:10px" type="text" >
            <span  class="text-danger"></span>
        </div>

        <div>
            <span class="details"><div style="color:white">Mobile Number</div></span>
            <input style="border-radius:10px" type="text" >
            <span class="text-danger"></span>
        </div>

            <div
					 <div><label style="margin-bottom:5px" >  <h10 style="color:white"> Email </h10> </label></div>
                    <input style="border-radius:10px"  type="email" >
                    <span class="text-danger"></span>
            </div>

        <div>
            <span><div style="color:white; margin-bottom:5px ">Aadhar Number</div></span>
            <input style="border-radius:10px" type="text" >
            <span class="text-danger"></span>
        </div>

        <div>
            <span class="details"><div style="color:white">Gender</div></span>
            <input style="border-radius:10px" type="text" >
            <span  class="text-danger"></span>
        </div>

        <div>
              <button class="btn my-3" style="margin-bottom:12px; margin-top:10px;height: 10%; border : 3px solid white; border-radius:15px " type="submit">  <h10 style="color:white"> Guest Login  </h10>   </button>
        </div>
    }
</div>