@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />

  <div class="index-page ">
    
      @*<img src="~/Images/gal3.jpeg"style="align-content:center; width:100%; height:100%" />*@

    
     <div>
        <div class="welcome" >
            <h1 class="display-4" style="font-family: 'Exo 2', sans-serif; color:black">Welcome to Maurya  </h1>
        <h3 class="" style="font-family: 'Poppins',sans-serif;font-weight:300; color:black">The hotel comes in top three.</h3>
     </div>
     



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />



        <div class="columns">
            <ul class="price">
                <li class="header">Basic</li>
                <li class="grey"> Rs. 2000 / 24 hours </li>
                <li> 2 BHK </li>
                <li> Non-AC</li>
                <li> 2 Guest </li>
                <li> Breakfast </li>
                @*<li class="grey"><a href="#" class="button">Sign Up</a></li>*@
                 <li class="grey">
                    <form method="get" asp-action="SignUp" asp-controller="Account" style="display:inline-block">
                    <button style="font-family: 'Exo 2', sans-serif;" class="btn btn-secondary my-2 my-sm-0 mx-2">Sign Up</button>
                    </form>
                </li>

            </ul>
        </div>

        <div class="columns">
            <ul class="price">
                <li class="header">Premium</li>
                <li class="grey"> Rs. 4500/ 24 hours</li>
                <li>3 BHK</li>
                <li> AC </li>
                <li> 3 Guest </li>
                <li>Breakfast, Lunch</li>
                @*<li class="grey"><a href="#" class="button">Sign Up</a></li>*@
                 <li class="grey">
                    <form method="get" asp-action="SignUp" asp-controller="Account" style="display:inline-block">
                    <button style="font-family: 'Exo 2', sans-serif;" class="btn btn-secondary my-2 my-sm-0 mx-2">Sign Up</button>
                    </form>
                </li>

            </ul>
        </div>
        <div class="columns">
            <ul class="price">
                <li class="header">Deluxe</li>
                <li class="grey">Rs. 6500/ 24 hours </li>
                <li>4 BHK</li>
                <li> AC </li>
                <li> 4 Guest </li>
                <li> Breakfast, Lunch, Dinner </li>
                @*<li class="grey"><a  href="#" class="button">Sign Up</a></li>*@
                
                <li class="grey">
                    <form method="get" asp-action="SignUp" asp-controller="Account" style="display:inline-block">
                    <button style="font-family: 'Exo 2', sans-serif;" class="btn btn-secondary my-2 my-sm-0 mx-2">Sign Up</button>
                    </form>
                </li>

            </ul>
        </div>

